<!DOCTYPE html>
<html>
<head>
  <title>FlapperNewsRails</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body ng-app="flapperNews">
	<section class="row">
		<header class="page-header">
			<a href="/"><h1>Flapper News</h1></a>
		</header>
	  <section class="col-md-6 col-mid-offset-3">
	  	<ui-view></ui-view>
	 	</section>
	</section>
</body>
</html>
